body {
    font-family: Trebuchet MS, "Helvetica CY", "Nimbus Sans L", sans-serif;
}

/* Контейнер Для всего */
.container {
width: 575px;
max-width: 575px;
background:#000000;
padding: 10px; /* Поля вокруг текста */
margin: auto; /* Выравниваем по центру */
border-radius: 0 10px;
}

/* Основной белый контейнер для списков */
.deviceBox {
width: 95%;
background: #FFFFFF;
margin: auto; /* Выравниваем по центру */
border-radius: 0 10px;
margin-top: 5px; /* Отступ сверху */
padding: 12px 9px 9px;
text-align: left;
}

/* Название Копилки */
.nomnam {
background: #0000FF;
padding: 10px; /* Поля вокруг текста */
margin: auto; /* Выравниваем по центру */
margin-bottom: 0px;
border-radius: 0 10px;
color: #FFFFFF;
font-size:20px;
}

/* Номер копилки*/
.nom {
display:inline-block;
width: 10%;
font-size:20px;
font-weight: bold;
color: #FFFFFF;
}

/* Название копилки*/
.nam {
display:inline-block;
width: 450px;
font-size:20px;
font-weight: bold;
color: #FFFFFF;
text-align:right;
}

/* Сумма*/
.sum {
display:inline-block;
width: 170px;
font-size:42px;
font-weight: bold;
color: #0000FF;
text-align: right;
vertical-align: .28em;
}

/* Слово История */
.hist {
display:inline-block;
width: 170px;
font-size:42px;
font-weight: bold;
color: #535353;
text-align: right;
vertical-align: .3em;
padding: 10px 50px; /* отступ от текста */
}

/* Символ для Редактирования и Статистики */
.link {
font-size: 24px;
margin: 5px 5px; /* отступ от текста */
vertical-align: .8em;
text-decoration: none; /* Убирает подчеркивание для ссылок */
}

 /* Название копилки в строке истории */
.userbox {
font-size: 10px;
}   

/* Название копилки в строке истории */
.namebox {
font-weight: bold;
}

 /* Сумма в строке истории */
.money {
color: #ff0000;
}

/* Значек для перехода в JS для погашения долга */
.string {
font-size: 16px;
margin-left: 20px;
display: inline-block;
cursor: pointer;
}

/* Контейнер Нижняя панель с кнопками*/
.keys1 {
width: 95%;
height: 40px;
background: #FFFFFF;
border-radius: 0 10px;
margin-top: 5px; /* Отступ сверху */
margin-bottom: 10px;
padding: 8px 9px 9px;
margin-bottom: 6px;
}

/* Кнопка */
.button2 {
font-size:18px;
font-weight: bold;
border-radius: 0 10px;
width: 120px;
margin-left: 5px;
margin-right: 5px;
padding: 8px; /* Отступ от текста до бордюра */
background-color: white; 
color: black; 
border: 2px solid #0000FF;
cursor: pointer;
outline: none;
  display: inline-block;
vertical-align: .6em;
}
/* Нажатая Кнопка */
.button2:hover {
    background-color: #0000FF;
    color: white;
}